
header {
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    height: 7.375rem;
    margin-bottom: 8rem;
}
header, .header-left, ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    width: 22rem;
    list-style: none;
}

header ul li {
    position: relative;
    padding-bottom: .5rem;
}

header ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #0382d9;
    opacity: 0;
    transition: opacity .5s;
}

header ul li:hover::after {
    opacity: 1;
}

header ul li a {
    text-decoration: none;
    margin: 0 .5rem;
    color: var(--textSilver);
    font-size: 1.125rem;
    transition: color .5s;
}

header ul li a:hover {
    color: #0382d9;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    padding-right: 3rem;
}

.header-right button {
    background-color: var(--btn-blue-light);
    width: 6.188rem;
    height: 2.438rem;
    border: none;
    border-radius: 14.375rem;
    color: #fff;
    opacity: .5;
    transition: opacity .5s;
}

.header-right button:hover {
    opacity: 1;
    cursor: pointer;
}

.menu-mobile {
    display: none;
}

h1, h2, h3, h4 {
    color: var(--titles);
}

section {
    display: flex;
    margin-bottom: 10rem !important;
    height: auto;
}

.intro-left {    
    align-items: center;
    align-self: center;
    width: 40%;
}


.introduction .intro-left {
    justify-content: space-between;
}

.introduction {
    justify-content: space-around;
    padding: 0 2.5rem;
}

.info {
    justify-content: space-between !important;
    height: 26.125rem;
}

.introduction div h1 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

.introduction div p {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 33px;
    text-align: justify;
    color: var(--textBrown);
    margin-top: 1rem;
}

.doctor-polygon {
    width: 45%;
}

.group-polygon {
    position: relative;
    width: 120%;
    height: 120%;
    left: -10rem;
    top: -4rem;
    background-image: url('../assets/logo-doctor.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.group-polygon::before,
.group-polygon::after {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.group-polygon::before {
    content: '';
    position: absolute;
    left: 2.5rem;
    top: -1rem;
    z-index: -2;
    background-image: url('../assets/Polygon-1.svg');
}

.group-polygon::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0.5rem;
    z-index: -2;
    background-image: url('../assets/Polygon-2.svg');
}



.introduction button {
    width: 14.438rem;
    height: 4.125rem;
    background: #7AC9FF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0.625rem;
    border: none;
    margin: 2rem 0;
    color: #fff;
    font-size: 1.5rem;
}

.introduction .google-play {
    width: 26.125rem;
    height: 3.563rem;
}

.draw-illustration {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.draw-illustration img {
    width: 40%;
}

.draw-illustration p {
    color: var(--textSilver);
    text-align: center;
    width: 34.2%;
    font-size: 1.688rem;
    line-height: 1.978rem;
    margin: auto;
}

.services {
    flex-direction: column;
    align-items: center;
}

.services button {
    width: 24.125rem;
    height: 4.375rem;
    background: #fff;
    border: 2px solid var(--btn-blue-light);
    border-radius: 0.313rem;
    font-size: 1.75rem;
    color: var(--btn-blue-light);
}

.info-services {
    text-align: center;
    margin-bottom: 6rem;
}

.info-services p {
    font-weight: 400;
    line-height: 2.063rem;
    font-size: 1.75rem;
    width: 42%;
    margin: auto;
}

.services div h2 {
    color: unset;
    margin-top: 3.875rem;
    margin-bottom: 1.188rem;
}

.group-image {
    display: flex;
}

.group-image div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 22rem;
    height: 23.375rem;
    text-align: center;
}

.group-image div span {
    color: var(--textSilver);
}

.group-image div p {
    width: 16.563rem;
}

.group-steps {
    /* position: relative; */
    margin: 3rem auto;
}

.group-steps h3 {
    color: var(--textSilver) !important;
    position: relative;
    font-size: 3.125rem;
    font-weight: 400;
    padding-bottom: 2rem;
}

.group-steps h3::after {
    content: '';
    position: absolute;
    left: -3rem;
    bottom: 2rem;
    width: 45%;
    height: 3px;
    background: #c9c9c9;
}

.group-steps, .info-step {
    display: flex;
    flex-direction: column;
}

.group-steps div {
    display: flex;
    margin-bottom: 1rem;
}

.steps {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.steps img {
    margin-right: 1rem;
}

.info-step {
    width: 15rem;
}

.info-step>span {
    color: var(--titles) !important;
    padding-bottom: .3rem;
}

.undraw-note-mobile {
    display: flex;
}

.undraw-note-mobile div {
    width: 30.625rem;
    font-size: 1rem;
    line-height: 1.188rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.undraw-note-mobile div h4 {
    color: unset;
    font-size: 1.75rem;
    margin: 2rem auto;
}

.undraw-note-mobile div, img {
    margin: auto;
}

.all-testimonials {
    display: flex;
    justify-content: center;
    margin: auto;
}

.testimonials {
    align-items: center;
    background: #FFFFFF;
    border-radius: .313rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 17.313rem;
    justify-content: center;
    width: 32%;
    padding: 1.4rem 5rem;
    position: relative;
}

.testimonials i {
    position: absolute;
    left: 2rem;
    top: 1rem;
}

.testimonials-left {
    z-index: -1;
    position: relative;
    left: 1rem;
}

.testimonials-right {
    z-index: -1;
}

.testimonials span {
    text-align: start;
    margin: 0 auto 2rem 0;
    /* margin-left: 0;
    margin-right: auto; */
}

.group-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 9.375rem;
}

.group-inputs input, textarea {
    width: 30.938rem;
    height: 3.75rem;
    background: #FFFFFF;
    box-shadow: 0px 2px 30px rgba(5, 16, 44, 0.1);
    border: none;
    border-radius: .313rem;
    outline-color: #7AC9FF;
}


form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

form div {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 1rem;
    
}

form h6 {
    height: 39px;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
}

form button {
    width: 5.063rem;
    height: 9.375rem ;
    background: linear-gradient(180deg, #EEEEEE 0%, #C4C4C4 100%);
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
    border-radius: .626rem;
    border: none;
}

textarea {
    height: 9.375rem !important;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 151, 255, 0.35);
    color: #FFF;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.f-height {
    height: 20.5rem;
    display: grid !important;
    grid-template-columns: 35% 80% 40%;
}

.footer div {
    display: flex;
    align-items:center;
    justify-content: space-around;
}

.footer-left p {
    font-size: 1.875rem;
}

.social-media img {
    margin: 1rem;
}

.contacts {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
}

.footer-info > h5 {
    color: #4E84AB !important;
    margin-bottom: ;
}

.footer-info, .footer-info ul {
    display: flex;
    align-items:flex-start !important;
    flex-direction: column;
}

.footer-info ul li {
    list-style: none;
    padding: .5rem 0;
    position: relative;
}

.footer-info ul li::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background: #fff;
    left: 0;
    bottom: 0;
    transform: translateX(0);
    transition: width 1s ;
}

.footer-info ul li:hover::after {
    width: 100%;
}

.footer-info ul li a {
    text-decoration: none;
    color: unset;
    display: flex;

}



/* .footer-info ul li:hover a::after {
    transform: translateX(100%);
} */

.author {
    background: #263238;
    height: 55px;
    color: #FFF;
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    padding: 0 5%;
}

.author p a {
    color: #0382d9;
    text-decoration: none;
}

@media (max-width:1150px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

    header {
        margin-bottom: 4rem;
    }

    .header-right {
        padding-right: 0;
        flex-direction: column;
    }

    .header-right button {
        margin-bottom: .3rem;
    }

    .introduction {
        flex-direction: column;
        padding: 0;
        margin-bottom: 50rem !important;
    }

    .introduction .intro-left, 
    .introduction .doctor-polygon {
        width: 70%;
    }

    .introduction div p {
        margin-bottom: 1rem;
    }

    .introduction button {
        margin: 0 !important;
    }

    .introduction .google-play {
        position: relative;
        top: 1.3rem;
    }

    .group-polygon {
        position: absolute;
        top: 100%;
    }

    .group-polygon,
    .group-polygon::after,
    .group-polygon::before {
        width: 100%;
        height: 100%;
        left: 0;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .group-image div {
        margin: auto !important;
    }

    .group-image,
    .undraw-note-mobile {
        flex-wrap: wrap;
        align-items: center;
    }

    .draw-illustration {
        flex-direction: column-reverse;
        align-items: center;
    }

    .draw-illustration img,
    .draw-illustration p {
        width: 70%;
        margin: 1rem 0;
    }

    .step {
        width: 33.3%;
    }

    .steps-wrap {
        display: grid !important;
        grid-template-columns: auto auto !important;
        margin: auto;
    }

    form div {
        grid-template-columns: auto auto;
    }

    .all-testimonials {
        flex-direction: column;
        width: 95%;
        margin: auto;
    }

    .testimonials {
        width: 100%;
        margin: 1rem auto;
    }

    .testimonials-left {
        left: 0;
    }

    form button {
        width: 12rem;
        height: 5rem; 
    }

    .f-height {
        grid-template-columns: auto auto auto;
        justify-content: space-between;
        width: 90%;
    }

}

@media (max-width:1040px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .introduction {
        margin-bottom: 45rem;
    }

    .intro-left {
        /* margin-bottom: 3rem; */
    }

    .group-polygon {
        top: 110%;
    }

    form div {
        grid-template-columns: auto;
    }
}

@media (max-width:768px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    header ul, .header-right {
        display: none;
    }
    .menu-mobile {
        display: flex;
        width: 20%;
    }

    .menu-mobile button {
        width: 4rem;
        height: 1rem;
        background:rgba(0, 151, 255, 0.35);
        border-radius: 1rem;
        border: none;
        position: relative;
    }

    .menu-mobile button::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1rem;
        left: 0;
        top: -1.5rem;
        border-radius: 1rem;
        background: inherit;
    }

    .menu-mobile button::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1rem;
        border-radius: 1rem;
        left: 0;
        top: 1.5rem;
        background: inherit;
    }

    .introduction {
        margin-bottom: 44rem !important;
    }
    .group-polygon {
        top: 115%;
    }

    .steps-wrap {
        grid-template-columns: auto !important;
    }

    .undraw-note-mobile div,
    .undraw-note-mobile img {
        width: 95%;
    }

    .undraw-note-mobile p {
        margin-bottom: 2rem;
    }
}

@media (max-width:600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (max-width:480px) {
    /* smartphones, Android phones, landscape iPhone */
}

@media (max-width:320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}